html {
    font-family: 'Figtree', sans-serif;
    font-size: 10px;
    color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    margin: 0 auto;
    border-bottom: #ff9999 solid;
}

.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ff9999;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.6rem;
    margin: 0 10px;
}

nav ul {
    display: flex;
}

nav li {
    padding: 5px 5px 10px 5px;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    padding: 40px 0;
    margin-top: 50px;
}

.quote {
    font-family: 'Bad Script', cursive;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 2em;
    padding: 10px 12px;
}

.author {
    padding-bottom: 25px;
    font-size: 1.6rem;
}

.image-fluid {
    width:100%;
    height: auto;
    overflow: hidden;
    padding: 10px 0 15px 0;
}

h3 {
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0;
    padding:40px 12px 5px 12px;
    text-decoration-line: underline;
    text-decoration-color: #ff9999;
    text-decoration-style: dotted;
}

h4 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    padding: 0 12px 10px 12px;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6em;
    padding: 3px 12px 40px 12px;
}

h2 {
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 40px 0;
    border-top: #ff9999 solid;
}

.skill-block {
    padding: 40px 0;
}

.skills-list {
    background-color: lightgray;
    background-image: url(../img/skills-small.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-bottom: 25px;
}

.skill-1 {
    grid-area: 2 / 2 / 3 / 3;
    color: #ff9999;
    background-color: #333;
    border-style: groove;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.6rem;
    animation: fadeIn 4s;
}

.skill-2 {
    grid-area: 3 / 5 / 4 / 6;
    color: #ff9999;
    background-color: #333;
    border-style: groove;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.6rem;
    animation: fadeIn 8.25s;
}

.skill-3 {
    grid-area: 1 / 4 / 2 / 5;
    color: #ff9999;
    background-color: #333;
    border-style: groove;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.6rem;
    animation: fadeIn 6.5s;
}

.skill-4 {
    grid-area: 4 / 1 / 5 / 3;
    color: #ff9999;
    background-color: #333;
    border-style: groove;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.6rem;
    animation: fadeIn 5s;
}

.skill-5 {
    grid-area: 3 / 3 / 4 / 4;
    color: #ff9999;
    background-color: #333;
    border-style: groove;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.6rem;
    animation: fadeIn 9s;
}

.skill-6 {
    grid-area: 5 / 4 / 6 / 6;
    color: #ff9999;
    background-color: #333;
    border-style: groove;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.6rem;
    animation: fadeIn 7.75s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }

.card-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.card-title:hover {
    filter: brightness(0.9);
    transform: scale(1.01);
    cursor: pointer;
}

.connect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 75px;
}

.social a {
    color: #ff9999;
    transition: color 0.2;
    padding-bottom: 30px;
    margin: 0 30px;
    font-size: 56px;
}

.social a:hover {
    color: #333;
}

footer {
    text-align: center;
    font-size: 1.6rem;
    background-color: #ff9999;
    padding: 2rem;
}



/* styles for form */

form {
    padding: 15px;
}

legend {
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 40px 0 10px 0;
}

label {
    display: block; 
    margin-top: 1.5rem;
    font-size: 1.6rem;
}

input, textarea {
    display: block; 
    width: 100%;
    margin: 5px 0;
    padding: 8px; 
    font-size: 18px;
    color: #333;
}

input:focus, textarea:focus {
    outline: 3px solid #ff9999;
}

.hint {
    font-weight: 300;
    color: #666;
    font-size: 14px;
    padding: 5px 0;
}

textarea {
    height: 100px;
}

.error-input {
    border: 3px solid #d00;
}

.error-text {
    color: #d00;
}




/* styles for portfolio pages */

.portfolio-btn {
    padding: 0 15px;
}

.portfolio-imgs {
    display: flex;
}

.portfolio-imgs img {
   width: 100%;
   height: 100%;
}

.patriot img {
    object-fit: cover;
}

.btn {
    font-size: 1.6rem;
    color: #333;
    border:1px  #333 solid;
    padding: 12px 24px;
    margin: 12px 0;
}

.btn:hover {
    background-color: #ff9999;
}





@media (min-width: 600px) {
    
   .quote {
        font-size: 2.6rem;
        line-height: 2em;
        margin-right: 30px;
    }

    .image-fluid {
        padding-bottom: 75px;
    }

    .skills-list {
        background-image: url(../img/skills-img.jpg);
    }

    .social a {
        font-size: 72px;
    }

    form  {
        padding: 100px;
    }
}



@media (min-width: 900px) {
    
   
    .header-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 100px;
    }

    nav ul {
        flex-direction: row;
    }

    nav li {
        margin-left: 2em;
    }

    #Portfolio {
        padding-bottom: 75px;
    }
    
    
    
    .social a {
        font-size: 150px;
    }

    
}

